<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.dao.CommonUserMapper">


  <select id="findUser" parameterType="java.lang.String" resultType="com.example.springbootdemo.pojo.UserDetail">
      select * from wx_bind_user where wechatid = #{openid}
  </select>

  <select id="findCard" parameterType="java.lang.String" resultType="com.example.springbootdemo.pojo.UserDetail">
      select * from wx_bind_user where wechatid = #{openid}
  </select>
</mapper>